@import "base";
// Custom styles

// Navbar
.navbar-fixed-top {
  border-width: 0 0 4px;
}

// Form errors
// span.error {
//   display: block;
// }

/* Sticky footer styles
-------------------------------------------------- */
$footer-height: 80px;
$footer-border-top: 4px;
$footer-margin-top: $footer-border-top + 10px;
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height + boder-top size */
  margin-bottom: $footer-height + $footer-margin-top;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: $footer-height + $footer-border-top;
  background-color: $brand-primary;
  border-top: $footer-border-top solid $gold;
  color: $white;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

#center-div{
  text-align: center;
  margin-top: -40px;
}

#center{
  text-align: center;
}

#right{
  text-align: right;
}




.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

th{
    text-align: center;
}

.restoreLink{
  text-align:center;
}

.Link{
  color: blue;
  text-decoration: underline;
}

.importante{
  color: red;
}

.text-link{
  font-size: 16px;
}

.acept-button{
  font-size: 16px;
  padding-left: 45px;
  padding-right: 45px;
}


//.form-control{
//text-transform:uppercase;
//}
